div{
    width: 500px;
    background-color: blueviolet;
    padding: 20px;
    margin:auto;
    margin-bottom: 30px;
    color: aliceblue;
}
.assign-1-shape-2{
    background-color:rgba(137, 43, 226, 0.51) ;
}
.assign-1-shape-3{
    background-color:rgba(137, 43, 226, 0.184) ;

}